<?xml version="1.0"?>
<launch>
  <arg name="config" default="$(find-pkg-share create_bringup)/config/default.yaml" />
  <arg name="desc" default="true" />

  <!--include file="$(find-pkg-share teleop_twist_joy)/launch/teleop-launch.py" /-->
  <include file="$(find-pkg-share ydlidar_ros2_driver)/launch/ydlidar_launch.py" />

  <node name="create_driver" pkg="create_driver" exec="create_driver" output="screen">
    <param from="$(var config)" />
    <param name="robot_model" value="CREATE_2" />
  </node>

  <!-- Robot description -->
  <include if="$(var desc)" file="$(find-pkg-share create_description)/launch/create_2.launch" />

  <include file="$(find-pkg-share gpio_launcher)/launch/sensing.launch.xml" />

  <include file="$(find-pkg-share kalman_filter_localization)/launch/ekf.launch.py" />
</launch>
